/* header */

.header {
    display: flex;
}
#form {
    width: 700px;
}
   /* Side buttons */
#side-buttons {
    width: 150px;
}
.black-border {
    border: 1px solid black;
    padding: 1rem;
    margin: .25rem;
    height: 800px;
    width: 300px;
}
.black-border1 {
    border: 1px solid black;
    padding: 1rem;
    margin: .25rem;
    width: 700px; 
}
.black-border2 {
    border: 1px solid black;
    padding: 1rem;
    margin: .25rem;
}
.form-floating1 {
    height: 600px;
}

h2 {
    margin-top: 2rem;
}

#subjectmatter {
    font-size: 9px;
}

h7 {
    font-size: 14;
}

#floatingTextarea2 {
    height: 300px;
}

.email-
.textarea {
    border: 1px solid #999999;
        width: 100%;
        margin: 5px 0;
        padding: 3px;
        height: 500px;

}
/* MESSAGE STREAM */
.email-stream {
    background-color: #2b2118;
    max-height: calc(90vh - 100px);
    overflow-y: scroll;
}

.message-stream {
    color: #EDF2F4;
    height: 100VH;
}

/* set background of email select cards and box shadow on hover*/
.email-select {
    background-color: #c5cfd4;
    transition: 0.9s;
}

.email-select:hover {
    background-color: #d2d6d9;
    box-shadow: 0 0 15px 5px #Edf2f4;
}



/* READ EMAIL */
.email-read {
    border-left: 15px solid#f1f7f4;
    background-color: #EDF2F4;
    color: #2b2118;
    height: calc(100vh - 100px);
    overflow-y: scroll;

}

.email-respond-button {
    background-color: #2b2118;
    color: #EDF2F4
}

#email-respond {
    border: 5px solid #e1b0a0;
}

